<% layout('layouts/boilerplate') %>
<div class="py-5">
    <h1>Sign In</h1>
</div>
<% if(error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
    <%= error %>
    </div>
<% } %>
<% if(success.length > 0) {%>
    <% console.log(success) %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
<% } %>
<form action="/signin" class="needs-validation" method="POST" novalidate>
    <div class="mb-2">
        <label for="username" class="form-label"> </label>Enter your username: </label>
        <input type="text" id="username" name="user[username]" class="form-control" required>
    </div>
    <div class="mb-2">
        <label for="password" class="form-label">Enter your password: </label>
        <input type="password" name="user[password]" id="password" required class="form-control">
    </div>
    
    <button class="btn btn-primary">Sign in!</button>
</form>