<% layout('layouts/boilerplate') %>
<h1>Sign in</h1>

<form action="/signin" class="needs-validation" method="POST" novalidate>
    <div class="mb-2">
        <label for="username" class="form-label"> </label>Enter your username: </label>
        <input type="text" id="username" name="user[username]" class="form-control" required>
    </div>
    <div class="mb-2">
        <label for="password" class="form-label">Enter your password: </label>
        <input type="password" name="user[password]" id="password" required class="form-control">
    </div>
    
    <button class="btn btn-primary">Sign in!</button>
</form>